*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'slogan';
	src: local('slogan'),
    url('../font/slogan.otf') format("truetype");
}
@font-face {
	font-family: 'welcome2';
	src: local('welcome2'),
    url('../font/welcome_2.ttf') format("truetype");
}
/*顶部导航栏*/
#topNav {
	position: fixed;
	margin-top: 4px;
	width: 100%;
	height: 80px;
	transition: all 0.4s ease;
	overflow: hidden;
}
#topNav_slider{
	position: relative;
	margin-top: -80px;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease;
	background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.7));
}
#topNav:hover #topNav_slider{
	margin-top: 0px;
}
#topNav_icon{
	height: 100%;
	width: 20%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	align-self: center;
}
#topNav_icon:hover{
	cursor: pointer;
}
#topNav_icon_img{
	margin-top: 10px;
	height: 60px;
}
#topNav_slogan{
	height: 100%;
	width: 65%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: center;
}
#topNav_slogan_p{
	font-family: slogan;
	font-size: 45px;
	margin-left: 18px;
	margin-top: 7px;
}
#topNav_buttons{
	height: 100%;
	width: 55%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: flex-end;
}
.topNav_navButton{
	width: 16%;
	height: 64px;
	margin-top: 7px;
	margin-right: 5%;
	color: currentcolor;
	border: none;
	background: none;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 5%;
	font-size: medium;
}
.topNav_navButton:hover{
	background: rgba(255,255,255,0.6);
}
#topNav_RegisterOrLogin{
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}
#topNav_regester{
	width: 35%;
	margin-right: 5%;
	height: 40px;
	margin-top: 20px;
	border: none;
	background: none;
	font-size: medium;
	cursor: pointer;
	transition: all 0.2s ease;
}
#topNav_regester:hover{
	background: rgba(255,255,255,0.6);
	border-radius: 5%;
}
#topNav_login{
	width: 35%;
	margin-left: 5%;
	height: 40px;
	margin-top: 20px;
	border: none;
	background: none;
	font-size: medium;
	cursor: pointer;
	transition: all 0.2s ease;
}
#topNav_login:hover{
	background: rgba(255,255,255,0.6);
	border-radius: 5%;
}
#userinfoContainer{
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	transition: all 0.2s ease;
}
#userinfoContainer:hover{
	background: rgba(255,255,255,0.75);
}
#topNav_avatar{
	height:60px;
	width: 60px;
	margin-top: 10px;
	margin-left: 25px;
}
#topNav_nickname_container{
	width: 65%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#topNav_nickname{
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
	font-family: welcome2;
}
.alert_win{
	transition: all 0.8s ease-out;
	position : fixed;
	left :0;
	right : 0;
	top: 10px;
	opacity: 0;
	width : 22rem;
	margin : 0 auto;
	background-color : #404040;
	font-size : large;
	text-align : center;
	padding : 0.3rem 0.3rem 0 0.3rem;
	height : 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
}
.alert_up{
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.alert_img{
	height: 50%;
}
.alert_p{
	color: whitesmoke;
	width: 65%;
	text-align: center;
	font-size: 0.8rem;
}
.alert_close{
	width: 80%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert_p2{
	color: whitesmoke;
	width: 75%;
	text-align: center;
	font-size: 0.5rem;
	margin-bottom: 0.25rem;
	opacity: 1;
	color: rgba(255,255,255,0.8);
	transition: all 0.2s ease;
}