body{
	overflow: auto;
	width: 100%;
	height: 100%;
	background-size: 100%;
}

@font-face {
	font-family: 'welcome2';
	src: local('welcome2'),
    url('../font/welcome_2.ttf') format("truetype");
}

#userCenter_main{
	width: 84%;
	margin-left: 8%;
	display: flex;
	flex-direction: column;
	background: whitesmoke;
}
#userCenter_top{
	background: url(../img/userCenterTopBG.jpg);
	width: 100%;
	height: 340px;
	background-size: 100%;
}
#userCenter_top_info{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 70%;
	margin-top: 80px;
	align-items: center;
	position: relative;
}
#userCenter_avatarContainer{
	width: 180px;
	height: 180px;
	position: relative;
	margin-left: 60px;
	border: floralwhite solid 4px;
	border-radius: 5px;
	transition: all 0.2s ease;
	cursor: pointer;
}
#userCenter_avatar{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
}
#userCenter_avatarHover{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	transition: all 0.2s ease;
	opacity: 0;
}
#userCenter_avatarContainer:hover{
	border: orangered solid 4px;
}
#userCenter_avatarContainer:hover #userCenter_avatarHover{
	opacity: 1;
}
#userCenter_baseInfo{
	height: 180px;
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-left: 4%;
}
#userCenter_baseInfo_usertype{
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
#userType{
	color: white;
	margin-right: 30px;
}
#userLevel{
	width: 50px;
	background: #00FFFF;
	color: white;
	border-radius: 5px;
	text-align: center;
}
#userCenter_baseInfo_up{
	width: 100%;
	height: 25%;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	line-height: 50px;
}
#userCenter_nickname{
	color: white;
	font-size: x-large;
}
#userCenter_baseInfo_signature{
	width: 100%;
	height: 25%;
	margin-top: 20px;
}
#userCenter_signature{
	background: transparent;
	border-radius: 10px;
	width: 80%;
	height: 26px;
	color: white;
	cursor: text;
	border: none;
	transition: all 0.2s ease;
}
#userCenter_signature:hover{
	background: rgba(0,0,0,0.2);
	border: whitesmoke solid 1px;
}
#userCenter_signature:focus{
	background: white;
	border: gray solid 1px;
	color: black;
}
#otherInfo{
	height: 60%;
	margin-left: 30px;
	margin-top: 5px;
}
#userCenter_up_phone{
	height: 100%;
	margin-left: 10px;
	cursor: pointer;
}
.userCenter_up_icon{
	height: 100%;
	margin-left: 10px;
	cursor: pointer;
}
#userCenter_up_email{
	height: 100%;
	margin-left: 10px;
	cursor: pointer;
}
#userCenter_top_control{
	width: 20%;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#logout{
	width: 80%;
	margin-left: 20%;
	margin-top: 30px;
	height: 30px;
	background: rgba(255,255,255,0.15);
	border: white solid 2px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}
#logout:hover{
	border-radius: 0;
	background: rgba(0,0,0,0.6);
}
#userCenter_iconContainer{
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 100%;
	justify-content: center;
	overflow: hidden;
}
#userCenter_icon{
	margin-left: 20%;
	width: 60px;
	height: 60px;
}
#userCenter_switchBtnContainer{
	width: 100%;
	background: whitesmoke;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}
#userCenter_buttons{
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.userCenter_switch{
	height: 60px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	transition: all 0.2s ease;
	cursor: pointer;
	margin-left: 10px;
}
.userCenter_switch:hover{
	background: rgba(55,55,55,0.1);
}
.userCenter_icon{
	height: 24px;
	width: 24px;
	margin-left: -5px;
}
.userCenter_btn_p{
	color: black;
	margin-left: 14px;
	margin-right: 10px;
	line-height: 60px;
	font-family: welcome2;
	font-size: large;
	transition: all 0.25s ease-in-out;
}
#userCenter_buttons_subline{
	height: 6px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}
#userCenter_subline{
	position: absolute;
	height: 70%;
	width: 160px;
	background: #4169E1;
	transition: all 0.25s ease-in-out;
}

#userCenter_infoContainer{
	width: 84%;
	margin-left: 8%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	background: whitesmoke;
}
.userCenter_title{
	width: 100%;
	font-weight: 300;
	font-size: x-large;
}
.userCenter_subtitle{
	font-weight: 200;
	font-size: large;
	margin-left: 10px;
}
#userCenter_myinfo{
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#userCenter_myinfo_level{
	width: 95%;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
}
#userCenter_level{
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
}
#userCenter_level_p{
	width: 5%;
	margin-left: 3%;
	height: 20%;
	color: white;
	background: #2244CC;
	text-align: center;
	border-radius: 5px;
}
#userCenter_level_lineContainer{
	width: 60%;
	margin-left: 5%;
	height: 5px;
	border-radius: 2px;
	display: flex;
	justify-content: flex-start;
	border: rgba(0,0,0,0.5) solid 1px;
}
#userCenter_level_line{
	transition: all 0.2s ease;
	background: #2244CC;
	width: 0%;
	height: 100%;
}

#userCenter_myinfo_userinfo{
	width: 95%;
	margin-top: 14px;
	display: flex;
	flex-direction: column;
}
.userCenter_row{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#genderSwitch{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#userCenter_genderImg{
	height: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
#userCenter_boy{
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease;
}
#userCenter_boy:checked:after{
	content: '';
	width: 30px;
	height: 30px;
	border: 2px solid #EDD19D;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
#userCenter_girl{
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease;
}
#userCenter_girl:checked:after{
	content: '';
	width: 30px;
	height: 30px;
	border: 2px solid #FF4500;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
.birthdayInput{
	border: none;
	background: transparent;
	border-bottom: #111111 solid 2px;
	width: 25%;
	font-size: large;
	cursor: pointer;
	text-align: center;
}
#submitBtn_myinfo{
	transition: all 0.2s ease;
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: center;
	display: none;
	opacity: 0;
}
#myinfoSubmitBtn{
	width: 45%;
	border: #2244CC solid 2px;
	height: 30px;
	background: transparent;
	transition: all 0.2s ease;
	cursor: pointer;
}
#myinfoSubmitBtn:hover{
	color: white;
	background: #2244CC;
}
#userCenter_myinfo_thought{
	width: 95%;
	margin-top: 14px;
	display: flex;
	flex-direction: column;
}
.thoughtBtn{
	border: none;
	width: 35%;
	background: transparent;
	cursor: pointer;
	transition: all 0.2s ease;
}
#userCenter_thought_mostview{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	display: none;
}
#userCenter_thought_newest{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	display: none;
}
#showMoreThought{
	width: 50%;
	text-align: right;
	font-size: small;
	cursor: pointer;
	transition: all 0.2s ease;
}
#showMoreThought:hover{
	color: #2244CC;
}
#userCenter_jitang{
	display: flex;
	width: 84%;
	margin-left: 8%;
	height: 40px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: #4169E1;
	margin-top: 5px;
	background: #FFFAF0;
	font-size: small;
}
.userCenter_thoughtRow{
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.05);
}

#userCenter_mythought{
	display: none;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}