<div style="display: flex;justify-content: center;align-items: center;flex-direction: row;">
	<h1 style="display: flex;flex-direction: row;">欢迎加入</h1>
	<p style="font-style: oblique;font-size: xx-large;margin-left: 10%;">空游 | Compayu</p>
</div>

<div style="margin-top: 1.25rem;display: flex;flex-direction: column;justify-content: center;align-items: center;">
	<p>生活中总有许多不能说的烦恼，把他们留在这里，让思维在空游的世界中遨游，用光阴记录此刻的你</p>
	<div style="width: 94%;margin-left: 0;margin-top: 6px;height:2px;border-radius: 5%;background-color: #AAAAFF;"></div>
	<div style="width: 70%;">
		<p style="margin-top: 50px;">输入邮箱验证码完成注册</p>
		<a style="margin-left: 40%;color: darkrdarkred;text-align: center;font-size: xx-large;">{{ link }}</a>
		<p style="margin-top: 30px;">期待与您的再次相遇，再会</p>
	</div>
</div>
