<div class="userCenter_thoughtRow">
	<div class="thoughtRow_num">
		<p class="thoughtRow_num_p">1</p>
		<div class="thoughtRow_views">
			<img class="thoughtRow_viewIcon" src="{% static 'img/userCenter_viewsIcon.png' %}"/>
			<p class="thoughtRow_views_p">0001</p>
		</div>
	</div>
	<div class="thoughtRow_title">
		<p class="thoughtRow_title_p">这里是标题</p>
		<div style="width: 100%;background: rgba(0,0,0,0.25);height: 2%;"></div>
		<p class="thoughtRow_time">0000-00-00</p>
	</div>
	<div style="background: rgba(0,0,0,0.25);height: 70%;width: 1px;"></div>
	<div class="thoughtRow_text">
		<div class="thoughtRow_text_container">
			<p class="thoughtRow_text_p">这里是内容。。。</p>
		</div>
	</div>
	<div style="background: rgba(0,0,0,0.25);height: 70%;width: 1px;"></div>
	<div class="thoughtRow_control">
		<input type="button" class="thoughtRow_btn1" value="修改"/>
		<input type="button" class="thoughtRow_btn2" value="删除"/>
	</div>
</div>
