<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <title>-Compayu- | 我的个人空间</title>
</head>
<body onload="pageInit()">
	<!--设置FAVICON-->
	<link rel="icon" href="{% static 'img/favicon.ico'%}">
	<!--样式表-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/userCenter.css' %}"/>
	
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/vue.js' %}"></script>
	
	{% include 'part_topNav.html' %}
	
	<div id="userCenter_main">
		<div id="userCenter_top">
			<div id="userCenter_top_info">
				<div id="userCenter_avatarContainer"  onclick="changeAvatar()">
					<img id="userCenter_avatar" src="{% static '/img/defaultAvatar.png' %}"/>
					<img id="userCenter_avatarHover" src="{% static '/img/avatarhover.png' %}"/>
					<input style="display: none;" type="file" file-mode='image' id="avatar_input" name="avatar">
				</div>
				<div id="userCenter_baseInfo">
					<div id="userCenter_baseInfo_usertype">
						<p id="userType">用户类别</p>
						<p id="userLevel">LV1</p>
					</div>
					<div id="userCenter_baseInfo_up">
						<p id="userCenter_nickname">我的昵称</p>
						<!--性别，手机注册还是邮箱注册等等-->
						<div id="otherInfo">
							<img title="电话信息" id="userCenter_up_phone" src="{% static 'img/phone_close.png' %}" />
							<img title="邮箱信息" id="userCenter_up_email" src="{% static 'img/email_close.png' %}" />
						</div>
					</div>
					<div id="userCenter_baseInfo_signature">
						<input type="text" id="userCenter_signature" value="我的签名"/>
					</div>
				</div>
				<div id="userCenter_top_control">
					<div id="userCenter_iconContainer">
						<img id="userCenter_icon" src="{% static 'img/Icon.png' %}" />
						<p style="color: white;margin-left: 10px;line-height: 60px;font-size: x-large;">『空游』</p>
					</div>
					
					<input id="logout" type="button" value="登出当前账号" onclick="logout()"/>
				</div>
			</div>
		</div>
		<div id="userCenter_switchBtnContainer">
			<div id="userCenter_buttons">
				<div class="userCenter_switch" onclick="userCenter_changePage(1)" onmouseenter="switchBtn_hover(1)" onmouseleave="switchBtn_hover(0)" id="userCenter_myinfoBtn">
					<img class="userCenter_icon" src="{% static 'img/userCenter_myinfo.png' %}" />
					<p class="userCenter_btn_p">我的主页</p>
				</div>
				<div class="userCenter_switch" onclick="userCenter_changePage(2)" onmouseenter="switchBtn_hover(2)" onmouseleave="switchBtn_hover(0)" id="userCenter_mymessageBtn">
					<img class="userCenter_icon" src="{% static 'img/userCenter_mymessage.png' %}" />
					<p class="userCenter_btn_p">我的想法</p>
				</div>
				<div class="userCenter_switch" onclick="userCenter_changePage(3)" onmouseenter="switchBtn_hover(3)" onmouseleave="switchBtn_hover(0)" id="userCenter_mysafetyBtn">
					<img class="userCenter_icon" src="{% static 'img/userCenter_mysafety.png' %}" />
					<p class="userCenter_btn_p">安全中心</p>
				</div>
				<div class="userCenter_switch" onclick="userCenter_changePage(4)" onmouseenter="switchBtn_hover(4)" onmouseleave="switchBtn_hover(0)" id="userCenter_mynewsBtn">
					<img class="userCenter_icon" src="{% static 'img/userCenter_mynews.png' %}" />
					<p class="userCenter_btn_p">最新动态</p>
				</div>
				<div class="userCenter_switch" onclick="userCenter_changePage(5)" onmouseenter="switchBtn_hover(5)" onmouseleave="switchBtn_hover(0)" id="userCenter_mystarBtn">
					<img class="userCenter_icon" src="{% static 'img/userCenter_mystar.png' %}" />
					<p class="userCenter_btn_p">我的收藏</p>
				</div>
			</div>
			<div id="userCenter_buttons_subline">
				<div id="userCenter_subline"></div>
			</div>
		</div>
	</div>
	<!--主题切换页面-->
	<div id="userCenter_infoContainer">
		<!--个人主页，包括一些个人的信息等等-->
		<div id="userCenter_myinfo">
			<div id="userCenter_myinfo_level">
				<p class="userCenter_title"> 个人经验 </p>
				<div id="userCenter_level">
					<p class="userCenter_subtitle" style="color: #2244CC;">我的经验：</p>
					<p id="userCenter_level_p">LV1</p>
					<div id="userCenter_level_lineContainer">
						<div id="userCenter_level_line"></div>
					</div>
					<p id="userCenter_exp" style="color: #2244CC; margin-left: 10px;">1/100</p>
					<p title="多多发送自己的想法吧" style="margin-left: 20px;color: #2244CC;cursor: pointer;">怎么获取经验？</p>
				</div>
			</div>
			<div id="userCenter_myinfo_userinfo">
				<p class="userCenter_title"> 我的信息 </p>
				<div class="userCenter_row">
					<p class="userCenter_subtitle">&emsp;&emsp;性别：</p>
					<div id="genderSwitch">
						<input onchange="showSubmitBtn()" type="radio" name="gender" id="userCenter_boy"/>
						<img src="{% static 'img/gender.png' %}" id="userCenter_genderImg"/>
						<input onchange="showSubmitBtn()" type="radio" name="gender" id="userCenter_girl"/>
					</div>
				</div>
				<div class="userCenter_row">
					<p class="userCenter_subtitle" style="margin-right: 125px;">&emsp;&emsp;生日：</p>
					<input onchange="showSubmitBtn()" type="date" id="userCenter_birthday" class="birthdayInput"/>
				</div>
				<div id="submitBtn_myinfo">
					<p style="font-size: small;color: darkslateblue;margin-top: 7px;margin-bottom: 3px;">谢谢你告诉我你的秘密，别忘了提交哦</p>
					<input onclick="myinfoSubmit()" type="button" id="myinfoSubmitBtn" value="提&emsp;交"/>
				</div>
			</div>
			<div id="userCenter_myinfo_thought">
				<div style="display: flex;flex-direction: row;margin-bottom: 15px;">
					<p class="userCenter_title" style="width: 15%;"> 我的想法 </p>
					<div style="display: flex;width: 25%;flex-direction: column;align-items: center;">
						<div style="width: 100%;height: 85%;display: flex;flex-direction: row;">
							<input onclick="showMostView(1)" type="button" id="thoughtMostView" class="thoughtBtn" value="最多人看过"/>
							<input onclick="showMostView(2)" type="button" id="thoughtNewest" class="thoughtBtn" value="最新发送"/>	
						</div>
						<div style="width: 100%;height: 15%;">
							<div id="thoughtSubline" style="background: #2244CC;width: 35%;height: 30%;transition: all 0.2s ease;margin-left: 0%;"></div>
						</div>
					</div>
					<p onclick="userCenter_changePage(2)" id="showMoreThought">查看更多</p>
				</div>
				<div id="userCenter_thought_mostview">
					<div class="userCenter_thoughtRow">
						<p style="color: #808080;">啊偶，空空如也</p>
					</div>
					<div class="userCenter_thoughtRow">
						<p style="color: #808080;">啊偶，空空如也</p>
					</div>
				</div>
				<div id="userCenter_thought_newest">
					<div class="userCenter_thoughtRow">
						<p style="color: #808080;">啊偶，空空如也</p>
					</div>
					<div class="userCenter_thoughtRow">
						<p style="color: #808080;">啊偶，空空如也</p>
					</div>
				</div>
			</div>
		</div>
		<!--想法管理页面-->
		<div id="userCenter_mythought">
			<div id="mythought_title">
				<p class="userCenter_title" style="width: 50%;">我的想法</p>
				<div id="mythought_searchContainer">
					<input id="userCenter_searchThought" type="text" placeholder="标题&emsp;/&emsp;日期"/>
					<div id="userCenter_searchThought_btn">
						<img id="mythought_searchImg" src="{% static 'img/userCenter_search.png' %}"/>
					</div>
				</div>
			</div>
			<div id="mythought_chooceFilterContainer">
				<div id="mythought_chooceFilter">
					<p class="mythought_filterBtn" onclick="changeFilter('time')">按时间顺序</p>
					<p class="mythought_filterBtn" onclick="changeFilter('view')">按浏览量顺序</p>
					<p class="mythought_filterBtn" onclick="changeFilter('search')">搜索结果</p>
				</div>
				<div id="mythought_chooceFilter_sublineContainer">
					<div id="mythought_chooceFilter_subline"></div>
				</div>
			</div>
			<div id="mythougth_content">
				<div id="mythoughtList">
					
				</div>
				<div id="mythoughtSearchList">
					
				</div>
				<div id="mythought_pageContainer">

				</div>
			</div>
		</div>
	</div>
	<div id="userCenter_jitang">
		<p>*/</p>
		<p id="userCenter_jitang_p">生活里不能说的秘密，把它留在这里</p>
		<p>/*</p>
	</div>
	
	<!-- js -->
	<p id="script_which" style="display: none;">{{which|safe}}</p>
	<script>
		var which = document.getElementById("script_which").innerHTML;
	</script>
	<script src="{% static 'js/userCenter.js' %}"></script>
	<script src="{% static 'js/global.js' %}"></script>
</body>
</html>